.card_next{
   
    border-radius: 5px;
    display: flex;
    
    gap: 10px;
    width: 40%;
   
    
}
.card_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: relative;
    
}
.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .card_top {
    display: flex;
    align-items: flex-start;
  }

.deleteCard {
    background-color: white;
  width: 105px;
  padding:10px;
}